/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Test configuration
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    input         = "${projectDir}/assets/samplesheet.csv"
    outdir        = 'results'
    bakta_db_dir  = "${launchDir}/.janus/bakta"
    eggnog_db_dir = "${launchDir}/.janus/eggnog"
}

process {
    resourceLimits = [
        cpus:   2,
        memory: 6.GB,
        time:   6.h
    ]
}
